@model DashboardViewModel

@using System.Linq;
@using System.Collections.Generic;
@{
    this.ViewData["Title"] = "Admin Dashboard";
}

<section class="container-fluid">
    <div class="page-container">
                <h2>Upload List</h2>
        <section>
            <section class="title-and-upload">
                <a asp-controller="Documents"
                   asp-action="Upload"
                   class="upload-btn">
                    <i class="fas fa-plus"></i> &nbsp; Upload New Document
                </a>
            </section>

            <form asp-action="Search">
                <section class="search-field">
                    <input type="search"
                           id="myInput"
                           name="searchQuery">
                    <button class="search-btn" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <button 
                            class="reset-btn"
                            onclick="document.getElementById('myInput').value = ''">
                        <i class="fa fa-times"></i>
                    </button>
                </section>
            </form>
        </section>
        @if (Model.Docs.Any())
        {
            <section class="data-table">
                <table>
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>Upload Date</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Docs.Any())
                        {
                            foreach (var doc in Model.Docs)
                            {
                                <tr>
                                    <td>@(doc.CreatorFirstName + " " + doc.CreatorLastName)</td>
                                    <td>@doc.Created</td>
                                    <td>@doc.Title</td>
                                    <td>
                                        @if (doc.Title.EndsWith("pdf"))
                                        {
                                            @*<i class="fa fa-envelope-open" aria-hidden="true"></i>*@

                                            <img src="https://img.icons8.com/offices/25/000000/pdf.png" />
                                        }
                                        else if (doc.Title.EndsWith("doc") || doc.Title.EndsWith("docx"))
                                        {
                                            <img src="https://img.icons8.com/fluent/27/000000/microsoft-word-2019.png" />
                                        }
                                        else if (doc.Title.EndsWith("xls") || doc.Title.EndsWith("xlsx"))
                                        {
                                            <img src="https://img.icons8.com/fluent/27/000000/microsoft-excel-2019.png" />
                                        }
                                    </td>
                                    <td>
                                        <a class="details"
                                           asp-controller="Documents"
                                           asp-action="Details"
                                           asp-route-Id="@doc.Id">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </section>
        }

    </div>
</section>