@using System.Linq;
@using System.Collections.Generic;
@{
    this.ViewData["Title"] = "Admin Dashboard";
}

<section class="container-fluid">
    <div class="row">
        Documents Index
    </div>
</section>